.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-image: url("./assets/Avion.jpg");
    background-size: cover;
    height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
}
.infoContainer{
    background-color: rgba(0, 128, 128, 0.5);
    width: 20%;
    border: 1px solid black;
    border-radius: 5px;
}
.ActivityCard{
    background-color: rgba(0, 128, 128, 0.5);
    width: 12%;
 height: 28%;
 border: 1px solid black;
 border-radius: 5px;
}
p{
    font-size: 20px;
    
}
