.container{
    background-image: url(./assets/avioncito.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerInfo{
    display: flex;
   flex-direction: column;
   background-color: rgba(121, 216, 216, 0.5);
   width: 20%;
   padding: 5px;
  
}