.container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}
.selectUno{
    border-radius: 6px;
}
.selectDos{
    border-radius: 6px;
}
.selectTres{
    border-radius: 6px;
}
.selectCuatro{
    border-radius: 6px;
}

